@import "tailwindcss";
body {
  background-color: #202020;
}

.primary-bg-color {
  background-color: #202020;
}

.secondary-bg-color {
  background-color: #003C42;
}

.tertiary-bg-color {
  background-color: #1D1D1D;
}

.input-bg-color {
  background-color: #242424;
}

.primary-fg-color {
  color: #EEEEEE;
}

.accept-button-bg-color {
  background-color: #2FBC54;
}

.cancel-button-bg-color {
  background-color: #BC2F2F;
}